# Compiled object files
*.o
*.obj

# Compiled static libraries
*.lib

# Compiled dynamic libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Build folders
build/
/bin/
/Debug/
/Release/

# Visual Studio Code
.vscode/

# Mac system files
.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Others
*.log
